/* 퉛퉘힑 */
body{background:#f6f6f6;width:100%;height:650px;margin:0 auto;}
.p,span,li{font-family:"풕턼환쥌";font-size:12px;color:#6f6f6f;line-height:28px;}
select { width:140px;}
.top{background-color:#317cb5;height:70px;}
.nav{width:980px;margin:0 auto;}
.top_xuanxiang{float:right;margin-top:20px;}
.top_xuanxiang ul li{float:left;list-style:none;margin-left:5px;font-size:16px;color:#FFFFFF;margin-left:10px;}


.main_top{ padding-top:30px;width:980px;margin:0 auto;}

.chufatiaojian{float:left;}
.cftj_bar_1{background:url(images/bar_cftj.png);width:217px;height:33px;z-index:9999;position:absolute;}
.cftj_bar_1 span{color:#FFFFFF;padding-left:70px;}
.cftj_block{background:url(images/xz_bg.png);width:211px;height:172px;position:relative;}


.yonghuqun{float:left;margin-left:2px;}
.yhq_bar_2{background:url(images/bar_yhqsz_wx.png);width:214px;height:33px;z-index:9999;position:absolute;;}
.yhq_bar_2 span{color:#FFFFFF;padding-left:70px;}
.yhq_block{ width:210px;height:163px;background:#FFFFFF;border:#d6d6d6 1px solid;border-left:none;border-right:none; position:relative;}
.yhq_block_bg{background:#eef8ff;width:188px;height:109px;margin:0 auto;margin-top:42px; }



.kehujiechu{float:left;}
.khjc_bar_2{background:url(images/bar_khjcgl_wx.png);width:214px;height:33px;z-index:9999;position:absolute;}
.khjc_bar_2 span{color:#FFFFFF;padding-left:70px;}
.khjc_block{ width:210px;height:163px;background:#FFFFFF;border:#d6d6d6 1px solid;position:relative;}
.khjc_block_bg{background:#eef8ff;width:188px;height:109px;margin:0 auto;margin-top:42px; }



.tuisongqudaojineirong{float:left;margin-left:-1px;}
.tsqdnr_bar_2{background:url(images/bar_tsqdjnrsz_wx.png);width:214px;height:33px;z-index:9999;position:absolute;}
.tsqdnr_bar_2 span{color:#FFFFFF;padding-left:70px;}
.tsqdnr_block{ width:210px;height:163px;background:#FFFFFF;border:#d6d6d6 1px solid;position:relative;border-right:none;}
.tsqdnr_block_bg{background:#eef8ff;width:188px;height:109px;margin:0 auto;margin-top:42px; }


.wancheng{float:left;}
.wc_bar_2{ background:url(images/bar_wancheng_wx.png);width:132px;height:33px;z-index:9999;position:absolute;}
.wc_bar_2 span{color:#FFFFFF;padding-left:50px;}
.wc_block{ width:130px;height:163px;background:#FFFFFF;border:#d6d6d6 1px solid;position:relative;}
.wc_block_bg{margin:0 auto;margin-top:42px; }


.main_top2{padding-top:30px;width:980px;margin:0 auto;float:left;margin-left:140px;}
.chufatiaojian{float:left;}
.cftj_bar_1{background:url(images/bar_cftj.png);width:217px;height:33px;z-index:9999;position:absolute;}
.cftj_bar_1 span{color:#FFFFFF;padding-left:70px;}
.cftj_block{background:url(images/xz_bg.png);width:211px;height:172px;position:relative;}
.cftj_block_biaoqian{width:190px;height:108px;margin:0 auto;padding-top:40px;}
.gjc{width:92px;height:24px;background:#eef8ff;float:left;margin-left:3px;font-size:13px;text-align:center;line-height:25px;color:#6f6f6f;font-family:"풕턼환쥌";margin-top:3px;}


.main_top3{padding-top:30px;width:980px;margin:0 auto;float:left;margin-left:140px;}
.chufatiaojian{float:left;}
.cftj_bar_2{ background:url(images/bar_cftj_wx.png);width:217px;height:33px;z-index:9999;position:absolute;}
.cftj_bar_2 span{color:#FFFFFF;padding-left:70px;}
.cftj_block_2{border:#d6d6d6 1px solid;width:211px;height:163px;position:relative;background:#FFFFFF;}
.cftj_block_2_biaoqian{width:190px;height:108px;margin:0 auto;padding-top:40px;}
.gjc_2{width:90px;height:22px;background:#eef8ff;float:left;margin-left:3px;font-size:13px;text-align:center;line-height:25px;color:#6f6f6f;font-family:"풕턼환쥌";margin-top:3px;border:1px solid #d6d6d6;}


/* 逅쮏콾 */
.main_xinxi{width:696px;padding-top:20px;margin:0 auto;margin-top:70px;}
.main_xinxi_bar{background:url(../images/bar_bg.png) repeat-x;width:696px;height:33px;position:absolute;z-index:9999;}
.main_xinxi_bar span{font-size:13px;padding-left:20px;color:#FFFFFF}
.main_xinxi_block{width:694px;padding-top:20px;padding-bottom:20px;border:1px solid #d6d6d6;position:relative;background:#FFFFFF;}

.main_xinxi_block_step{padding-top:30px;}
.table{border-collapse:collapse;width:100%;}
.inputText{ 
    background-repeat: repeat-x;
    border: 1px solid #c5c7be;
    color: #000000;
    height: 22px;
	width:140px;
    line-height: 20px;}
	
.textarea{border: 1px solid #c5c7be;
    color: #339900;
    padding: 2px;}	
.main_xinxi_block_step td {font-size:12px;color:#6f6f6f;font-family:"풕턼환쥌";}
.main_xinxi_block_step th {font-size:13px;color:#6f6f6f;font-family:"풕턼환쥌";text-align:right;line-height:26px;}

.botton{background: none repeat scroll 0 0 #317cb5;
    border-color: #3f733c;
    border-radius: 3px;
    color: #ffffff;
	border:#003399 1px solid ;
    font-size: 13px;
    padding: 6px 15px 6px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    top: 20px;
	font-family:"풕턼환쥌";
	font-weight: bold;
   }

.footer{text-align:center; color:#CCCCCC; padding:10px;padding-top:50px;font-size:12px;}