/* CSS Document */
.cfsz_tck{width:310px;overflow:hidden;border:#e4e4e4 1px solid;position:relative;top:180px;left:165px;}
.tck_row{width:290px;heiht:25px;float:left;margin-top:10px;margin-left:13px;line-height:23px;}
.tm{ width:92px;height:24px;border:#e4e4e4 1px solid;font-family:"Î¢ÈíÑÅºÚ";font-size:13px;color:#006699;font-weight:bold;float:left;text-align:center;border-right:none;}

.tab{width:92px;height:24px;border:#e4e4e4 1px solid;font-family:"Î¢ÈíÑÅºÚ";font-size:13px;color:#797979;background:#f0f8fa;float:left;text-align:center;}
.tab2{width:92px;height:24px;border:#e4e4e4 1px solid;font-family:"Î¢ÈíÑÅºÚ";font-size:13px;color:#797979;background:#f0f8fa;float:left;text-align:center;border-right:none;}

.queding{clear:both;width:67px;height:31px;margin:0 auto;padding-top:15px;padding-bottom:15px;}